body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: rgb(255, 254, 251);
}

.tlo {
    background: rgba(0,0,0,0) url(jpg/tło-tytuł.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    width: 100%;
    height: 600px;
    opacity: 90%;
}

.tytulstrony {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav {
    backdrop-filter: blur(3px);
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0.94);
    position: fixed;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    align-content: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 5px;
    width: 20%;   
}

nav a:hover {
    background-color: whitesmoke;
    color: black;
}

h1 {
    position: relative;
    margin-top: 9em;
    font-weight: 800;
    text-shadow: 0 5px 5px;
}

main {
    max-width: 700px;
    min-width: 200px;
    position: relative;
    display: flex;
    align-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 30px;
}

main img {
    max-width: 700px;
    min-width: 200px;
}

h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgb(10, 10, 10);
    color: rgb(223, 223, 223);
    padding: 8px;
    font-size: medium;
    text-align: center;
    opacity: 90%;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 105px;
    margin-top: 80px;
}

.contact-title {
    transition: 0.4s;
    font-weight: 700;
    font-size: min(max(1.5vw, 18px), 24px);
    border: 2px solid rgb(155, 154, 154);
    border-radius: 5vw;
    padding: 1vh 20vw ;
    user-select: none;
} 
.contact-title:hover {
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(10, 10, 10);
    color: whitesmoke;
}

.contact-input {
    display: none;
}

h3 {
    font-size: min(max(1.5vw, 18px), 24px);
    transition: 0.4s;
    margin-bottom: 1px;
    user-select: none;
}

input {
    height: 20px;
    width: 290px;
    border: 2px solid rgb(155, 154, 154);
    border-radius: 20px;
    padding: 5px;
}

input:focus {
    outline: none;
    animation: bord 1.5s infinite;
}

textarea {
    height: 50px;
    width: 500px;
    border: 2px solid rgb(155, 154, 154);
    border-radius: 45px;
    padding: 10px;
    max-width: 700px;
    max-height: 100px;
    min-height: 30px;
    min-width: 300px;
}

textarea:focus {
    outline: none;
    animation: bord 1.5s infinite;
}

.send {
    margin-top: 1.5vh;
    background: rgb(10, 10, 10);
    color: whitesmoke;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    border: none;
    font-size: 16px;
    transition: 0.5s;
}

.sendAnim {
    margin-top: 1.5vh;
    background: rgb(10, 10, 10);
    color: whitesmoke;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    border: none;
    font-size: 16px;
    animation: sendColor 0.5s;
    transition: 0.5s;
}

footer {
    max-width: 900px;
    min-width: 200px;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    height: 250px;
    color: rgba(245, 245, 245, 0.363);
}

li {
    list-style:circle;
}

.stopa {
    background-color: rgb(41, 41, 41);
}

.socialmedia img {
    padding: 5px;
    transition: 0.5s;
}

.socialmedia img:hover {
    animation: hop .3s;
    scale: 1.5;
}

.ciastka {
    position: fixed;
    background: rgba(224, 224, 224, 0.61);
    z-index: 99;
    bottom: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(2.5px);
} p {
    text-align: center;
} .closeBtn {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.801);
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 100;
    color: rgba(255, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

@keyframes hop {
    25% {transform:translateX(5px);}
    50% {transform:translateX(-5px);}
    75% {transform:translateX(5px);}
}

@keyframes sendColor {
    0% {background: rgb(10, 10, 10); scale: 1; color: whitesmoke;}
    50% {background: rgb(136, 136, 136); scale: 1.1; color: rgb(10, 10, 10);}
    100% {background: rgb(10, 10, 10); scale: 1; color: whitesmoke;}
}

@keyframes bord {
    0% {border: 2px solid rgb(20, 20, 20);}
    50% {border: 2px solid rgb(155, 154, 154);}
    100% {border: 2px solid rgb(20, 20, 20);}
}